{
  "extends": ["standard"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "standard"
  ],
  "settings": {
    "react": {
      "createClass": "createClass", // Regex for Component Factory to use, default to "createClass"
      "pragma": "React",  // Pragma to use, default to "React"
      "version": "15.0" // React version, default to the latest React stable release
    }
  },
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "camelcase": 2,
    "complexity": [2, 5],
    "max-len": [2, 120, 4, {
      "ignoreComments": true,
      "ignoreUrls": true
    }],
    "no-unused-expressions": [2, {
      "allowTernary": true
    }],
    "object-curly-spacing": [2, "never"],
    "valid-jsdoc": [
      2,
      {
        "prefer": {
          "virtual": "abstract",
          "extends": "augments",
          "constructor": "class",
          "const": "constant",
          "defaultvalue": "default",
          "desc": "description",
          "host": "external",
          "fileoverview": "file",
          "overview": "file",
          "emits": "fires",
          "func": "function",
          "method": "function",
          "var": "member",
          "arg": "param",
          "argument": "param",
          "return": "returns",
          "exception": "throws"
        },
        "requireReturn": false
      }
    ]
  }
}
